# Dependencies
node_modules/

# Build Artifacts
dist/
out/
app/game.js
app/game.js.map

# Electron Distributables
packages/
*.dmg
*.exe
*.deb
*.AppImage

# TypeScript
*.tsbuildinfo

# Logs
*.log

# macOS
.DS_Store
._*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
